
@{
    ViewBag.Title = "Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingredients</h2>

<br />

<p>Bu sayfa ürünlerin listelendiği kısımdır</p>

<ul>
    <li>Bilgisayar</li>
    <li>Telefon</li>
    <li>Tablet</li>
</ul>