@using EntityLayer.Concrete
@model List<Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{ string color = "";}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Filmler</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            @*<th style="width: 1%">
            #
        </th>*@
                            <th style="width: 25%">
                                Film Adı
                            </th>

                            <th style="width: 25%">
                                Yönetmen Adı
                            </th>

                            <th style="width: 25%">
                                İzlenme Durumu
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                @*<td>
            @item.Id
        </td>*@
                                <td>
                                    <a>
                                        @item.Name
                                    </a>
                                    <br />
                                    <small>
                                        @((item.HeadingDate ?? DateTime.MinValue).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>

                                <td>
                                    <a>
                                        @item.Author
                                    </a>
                                </td>



                                <td>
                                    @if (item.IsRead)
                                    {
                                        <p>✅</p>
                                    }
                                    else
                                    {
                                        <p>❌</p>
                                    }

                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="/Movie/EditMovie/@item.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Movie/DeleteMovie/@item.Id">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</body>
</html>
<a href="/Movie/AddMovie/" class="btn btn-primary">Yeni Film Gir</a>


